.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* outline: 1px solid black; */
  border: transparent;
  outline: transparent;
  color: transparent;
}

.header__btn {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 810px) {
  .header__btn {
    display: none;
  }
}

.header__menu {
  width: 40px;
  height: 40px;
  fill: #ffd035;
  border: #ffd035;
}

.logo {
  margin-right: auto;
}
@media screen and (min-width: 810px) {
  .logo {
    margin-right: 77px;
  }
}

.menu {
  background-color: #646464;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0px 48px 40px;
  opacity: 0.97;
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu__btn {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-bottom: 100px;
}

.menu__close {
  width: 30px;
  height: 30px;
  fill: #ffd035;
}

.header__link {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 153.533%; /* 36.848px */
  letter-spacing: -0.96px;
  transition-property: color;
  transition-duration: 400ms;
}
.header__link:hover {
  color: #ffd035;
}

.span__header {
  color: #ffd035;
  text-align: center;
  font-family: "Poppins";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.863%; /* 36.207px */
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  transition: opacity 0.01ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(500px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  background: #323232;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: visibility 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 1s;
  width: 300px;
  height: 150px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 300px;
    height: 150px;
  }
}
.modal__wright {
  color: #fefefe;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 153.533%; /* 98.261px */
  text-align: center;
}
.modal__title {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  text-align: center;
  width: 370px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: auto;
  }
}
.modal .btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .btn__close:hover, .modal .btn__close:focus {
  cursor: pointer;
}
.modal .btn__close:hover .form__close, .modal .btn__close:focus .form__close {
  fill: rgb(80, 80, 80);
}
.modal .form__close {
  width: 40px;
  height: 40px;
  fill: black;
}

.modal__link {
  color: #ffd035;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  text-decoration: underline;
  transition-property: color;
  transition-duration: 250ms;
}
.modal__link:hover {
  color: #887433;
}

.modal__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* outline: 1px solid black; */
  border: transparent;
  outline: transparent;
  color: transparent;
}

.portfolio__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5; /* 73.696px */
  letter-spacing: -1.92px;
  text-align: center;
  margin-bottom: 53px;
}
.portfolio__list {
  width: 740px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 810px) {
  .portfolio__list {
    width: 430px;
  }
}
@media screen and (max-width: 484px) {
  .portfolio__list {
    width: 350px;
  }
}
.portfolio__card {
  background: #292929;
  width: 302px;
  height: 391px;
  border-radius: 19px;
}
.portfolio__img {
  width: 300px;
  height: 254px;
  border-radius: 25px;
}
.portfolio__text {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5; /* 54.019px */
  margin-left: 26px;
}
.portfolio__link {
  color: #ffd035;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5; /* 36.013px */
  margin-left: 26px;
  letter-spacing: -0.96px;
  transition-property: color;
  transition-duration: 250ms;
}
.portfolio__link:hover {
  color: #4e431d;
}

.footer__link {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.863%;
  letter-spacing: -0.24px;
  transition-property: color;
  transition-duration: 400ms;
  border: none;
  background-color: transparent;
  padding: 0;
}
.footer__link:hover {
  color: #ffd035;
}
@media screen and (min-width: 484px) {
  .footer__link {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.863%;
    letter-spacing: -0.24px;
    transition-property: color;
    transition-duration: 400ms;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */